In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [46]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,High Level,CA,2020-09-01 15:29:17,58.52,-117.14,53.60,76,75,8.05
1,1,Butaritari,KI,2020-09-01 15:29:20,3.07,172.79,83.39,76,40,14.52
2,2,Albany,US,2020-09-01 15:25:16,42.60,-73.97,70.00,72,90,9.17
3,3,Mahajanga,MG,2020-09-01 15:29:21,-15.72,46.32,84.20,51,40,9.17
4,4,Cherskiy,RU,2020-09-01 15:29:21,68.75,161.30,39.29,86,98,5.86

In [47]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [48]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [49]:
# # Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [50]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False,
                                max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False,
                                 max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call, the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False,
                                 max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call, the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [53]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False,
                                 max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call, the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [55]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 90

In [56]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Butaritari,KI,2020-09-01 15:29:20,3.07,172.79,83.39,76,40,14.52
3,3,Mahajanga,MG,2020-09-01 15:29:21,-15.72,46.32,84.20,51,40,9.17
13,13,Georgetown,MY,2020-09-01 15:29:23,5.41,100.34,86.00,83,20,3.36
14,14,Hithadhoo,MV,2020-09-01 15:29:23,-0.60,73.08,82.18,79,100,11.72
28,28,Tiznit,MA,2020-09-01 15:29:27,29.58,-9.50,85.93,51,0,9.86
32,32,Carutapera,BR,2020-09-01 15:29:28,-1.20,-46.02,86.74,60,45,10.96
36,36,Cayenne,GF,2020-09-01 15:29:29,4.93,-52.33,87.80,62,40,9.17
37,37,Ixtapa,MX,2020-09-01 15:29:29,20.70,-105.20,80.60,83,40,3.36
44,44,Balabac,PH,2020-09-01 15:29:31,7.99,117.06,82.38,74,89,4.38
47,47,Vieux-Habitants,GP,2020-09-01 15:29:32,16.06,-61.77,87.80,66,87,10.29

In [57]:
preferred_cities_df.count()

City_ID       118
City          118
Country       118
Date          118
Lat           118
Lng           118
Max Temp      118
Humidity      118
Cloudiness    118
Wind Speed    118
dtype: int64

In [58]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
1        Butaritari      KI     83.39   3.07  172.79
3         Mahajanga      MG     84.20 -15.72   46.32
13       Georgetown      MY     86.00   5.41  100.34
14        Hithadhoo      MV     82.18  -0.60   73.08
28           Tiznit      MA     85.93  29.58   -9.50
32       Carutapera      BR     86.74  -1.20  -46.02
36          Cayenne      GF     87.80   4.93  -52.33
37           Ixtapa      MX     80.60  20.70 -105.20
44          Balabac      PH     82.38   7.99  117.06
47  Vieux-Habitants      GP     87.80  16.06  -61.77

In [60]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the Lat and Long
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [64]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Butaritari,KI,83.39,3.07,172.79,Isles Sunset Lodge
3,Mahajanga,MG,84.20,-15.72,46.32,Restaurant Greedy Coco Lodge Majunga
13,Georgetown,MY,86.00,5.41,100.34,Cititel Penang
14,Hithadhoo,MV,82.18,-0.60,73.08,Scoop Guest House
28,Tiznit,MA,85.93,29.58,-9.50,
32,Carutapera,BR,86.74,-1.20,-46.02,Lidera
36,Cayenne,GF,87.80,4.93,-52.33,Hôtel Le Dronmi
37,Ixtapa,MX,80.60,20.70,-105.20,Container Inn Puerto Vallarta
44,Balabac,PH,82.38,7.99,117.06,Sing and Swing Lodge
47,Vieux-Habitants,GP,87.80,16.06,-61.77,Gîtes Dardanelle

In [69]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
                                dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [70]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [71]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))